/vendor
/node_modules
/backups
/public/images/*
/public/files/*
/public/build/*
/public/css/*
/public/js/*.js
/public/js/*.map
/public/fonts/*
Homestead.yaml
Homestead.json
.env
.idea
/database/migrations/2016_04_16_145928_insert_default_admin.php