/* Home page: */

/* Slider: */

#slider {
  height: 400px;
  width: 100%;
  margin: -80px 0 0 0;
  background: url("/images/slide-image.jpg") no-repeat center center/cover;
}

#credentials {
  width: 100%;
  text-align: center;
  padding-top: 150px;
}

#credentials .name {
  font: 2.1em 'Fira Sans Boold';
  text-transform: uppercase;
  color: white;
}

#credentials .rank {
  font: 1.4em 'Fira Sans UltraLight';
  color: white;
}

/* News & schedule */

#schedule {
  min-height: 300px;
  padding: 30px 40px;
  position: relative;
  width: 40%;
  float: left;
  background: url("/images/clock.jpg") no-repeat center center/cover;
}

#schedule .title {
  color: white;
  text-transform: uppercase;
  margin: 0;
}

#schedule > * {
  color: white;
  text-transform: uppercase;
  margin: 0;
  z-index: 5;
}

#schedule:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#schedule .content {
  font: 1em 'Fira Sans Book';
  margin-top: 35px;
}

#news {
  float: left;
  min-height: 300px;
  height: 100%;
  padding: 30px 40px;
  width: 60%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbdbdb+0,a3a4a4+100 */
  background: #dbdbdb;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #dbdbdb 0%, #a3a4a4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#a3a4a4',GradientType=1 );
  /* IE6-9 */
}

#news .title {
  color: #3f3f3f;
  text-transform: uppercase;
  margin: 0 0 0 100px;
}

#news .content {
  margin: 0 0 0 100px;
}

#services {
  height: 300px;
  background: #FFFFFF;
}

#article {
  background: #3f3f3f;
  padding: 80px 40px;
  color: white;
}

#article h1 {
  margin: 0 0 25px 0;
}

#article .body {
  font-size: 1em;
  font-family: 'Fira Sans UltraLight';
}