.pages-list {

}

.pages-list .list-group {
  margin: 15px -1px 5px 0;
}

.pages-list .list-group .list-group-item {
  margin-right: -1px;
  padding-right: 0px;
}

.pages-list .list-group .list-group-item .item-content > *, .pages-list.list-group .list-group-item .item-content > * {
  display: inline-block;
}