
/* FAQ! */

@import 'regularPage';

#article .holder {
  max-width: 1280px;
}

.faq-form {
  background: #dcdcdc;
  margin: 50px 0;
  position: relative;
  padding: 40px;
}

.faq-form > .holder {
  width: 100%;
}

.faq-form [name='name'] {
  display: block;
  width: 300px;
  padding: 15px;
  box-sizing: content-box;
  border: 1px solid #575757;
  background: white;
  margin: 10px 0;
}

.faq-form [name='email'] {
  display: block;
  width: 300px;
  padding: 15px;
  box-sizing: content-box;
  border: 1px solid #575757;
  background: white;
  margin: 10px 0;
}

.faq-form [name='message'] {
  display: block;
  width: 100%;
  padding: 15px;
  border: 1px solid #575757;
  background: white;
}

.faq-form [type='submit'] {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5e5e5e+0,5e5e5e+0,3f3f3f+47,5e5e5e+100 */
  background: rgb(94,94,94); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(94,94,94,1) 0%, rgba(94,94,94,1) 0%, rgba(63,63,63,1) 47%, rgba(94,94,94,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(94,94,94,1) 0%,rgba(94,94,94,1) 0%,rgba(63,63,63,1) 47%,rgba(94,94,94,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(94,94,94,1) 0%,rgba(94,94,94,1) 0%,rgba(63,63,63,1) 47%,rgba(94,94,94,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#5e5e5e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 5px;
  padding: 10px 30px;
  color: white;
  cursor: pointer;
  margin: 20px 0 0;
}

.faq-answers--answer {
  padding: 50px 0;
  border-bottom: 1px solid #979797;
  list-style: none;
}

.faq-answers--question {
  font: 1.33em 'Fira Sans Boold';
  color: #222222;
  white-space: pre-line;
}

.faq-answers--answer-text {
  white-space: pre-line;
  color: #222222;
  font: 1.33em 'Fira Sans LightItalic';
}

.faq-answers--sub {
  white-space: pre-line;
  color: #222222;
  font: 1em 'Fira Sans BookItalic';
}